# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'monit/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Kali': {},
        'Gentoo': {
            'pkg': 'app-admin/monit',
            'config': '/etc/monitrc',
            'config_includes': '/etc/monit.d'
        },
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('monit:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.monit.update(os_family_map) %}

{## Merge in monit:lookup pillar ##}
{% set monit = salt['pillar.get'](
        'monit',
        default=default_settings.monit,
        merge=True
    )
%}
